fastapi
uvicorn[standard]
httpx
python-dotenv
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
slowapi
async_lru
cloudinary
sqlalchemy
psycopg2-binary
apscheduler
stripe
email-validator
mangum
boto3
aioboto3
redis[hiredis]
mcp
